@import url(http://fonts.googleapis.com/css?family=Bigelow+Rules|Pathway+Gothic+One);

.banner {
	width: 900px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	background: url('img/banner-bg.jpg') top left no-repeat;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
}

.banner h3 {
	color: #5f8cbf;
	font-family: 'Pathway Gothic One', Helvetica, 'Arial Narrow', Arial, sans-serif;
}

.banner p {
	color: #ea5858;
	font-family: 'Bigelow Rules', sans-serif;
}

[class^="txt"], [class^="img"] {
	position: absolute;
	margin: 0;
	top: 0px;
	left: 0px;
}