@import url(http://fonts.googleapis.com/css?family=Bigelow+Rules|Pathway+Gothic+One);
@import url(animations.css);

.banner {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	position: relative;
	/*background: url('img/football-stadium.png') left bottom no-repeat;*/
	background-color: black;
	/*border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;*/
	overflow: hidden;
}

.banner .banner-logo {
	width: 250px;
	height: 52px;
	background: url('img/efbet.png') left bottom no-repeat;
}

.banner-link {
	position: absolute;
	width: 250px;
	height: 250px;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.banner h3 {
	color: #eae044;
	font-family: 'Pathway Gothic One', Helvetica, 'Arial Narrow', Arial, sans-serif;
	top: 55px;
	text-transform: uppercase;
	font-size: 50px;
}

.banner p {
	color: #eae044;
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: bold;

}



[class^="txt"] {
	position: absolute;
	margin: 0;
}

[class^="txt"] {
	z-index: 200;
}

.txt-heading01 {
	left: -250px;
	width: 250px;
	-webkit-animation: heading01-on 1s forwards, heading01-loop 18s ease 1s infinite;
	-moz-animation: heading01-on 1s forwards, heading01-loop 18s ease 1s infinite;
	-o-animation: heading01-on 1s forwards, heading01-loop 18s ease 1s infinite;
	animation: heading01-on 1s forwards, heading01-loop 18s ease 1s infinite;
}

.txt-heading02 {
	left: -250px;
	width: 250px;
	-webkit-animation: heading02-loop 18s ease 1s infinite;
	-moz-animation: heading02-loop 18s ease 1s infinite;
	-o-animation: heading02-loop 18s ease 1s infinite;
	animation: heading02-loop 18s ease 1s infinite;
}

.txt-heading03 {
	left: -250px;
	width: 250px;
	-webkit-animation: heading03-loop 18s ease 1s infinite;
	-moz-animation: heading03-loop 18s ease 1s infinite;
	-o-animation: heading03-loop 18s ease 1s infinite;
	animation: heading03-loop 18s ease 1s infinite;
}


.txt01, .txt02, .txt03 { font-size: 100px; }

.txt01 {
	left: 270px;
	top: 140px;
	width: 900px;
	-webkit-animation: txt01-on .5s ease .25s forwards, txt01-loop 18s ease 1s infinite;
	-moz-animation: txt01-on .5s ease .25s forwards, txt01-loop 18s ease 1s infinite;
	-o-animation: txt01-on .5s ease .25s forwards, txt01-loop 18s ease 1s infinite;
	animation: txt01-on .5s ease .25s forwards, txt01-loop 18s ease 1s infinite;
}

.txt02 {
	left: -200px;
	top: 140px;
	width: 900px;
	-webkit-animation: txt02-on .5s ease .25s forwards, txt02-loop 18s ease 1s infinite;
	animation: txt02-on .5s ease .25s forwards, txt02-loop 18s ease 1s infinite;
}

.txt03 {
	left: -200px;
	top: 140px;
	width: 900px;
	-webkit-animation: txt03-on .5s ease .25s forwards, txt03-loop 18s ease 1s infinite;
	animation: txt03-on .5s ease .25s forwards, txt03-loop 18s ease 1s infinite;
}