/*---------HEADINGS----------*/

@-webkit-keyframes heading01-loop {
	0% { top: 0; }
	30% { top: 0; }
	33% { top: 100px; }
	91.99% { top: 100px; }
	92% { top: -100px; }
	99% { top: 0; }
	100% { top: 0; }
}

@-moz-keyframes heading01-loop {
	0% { top: 0; }
	30% { top: 0; }
	33% { top: 100px; }
	91.99% { top: 100px; }
	92% { top: -100px; }
	99% { top: 0; }
	100% { top: 0; }
}

@keyframes heading01-loop {
	0% { top: 0; }
	30% { top: 0; }
	33% { top: 100px; }
	91.99% { top: 100px; }
	92% { top: -100px; }
	99% { top: 0; }
	100% { top: 0; }
}

@-webkit-keyframes heading01-on {
	0% { top: -100px; }
	100% { top: 0px; }
}

@-moz-keyframes heading01-on {
	0% { top: -100px; }
	100% { top: 0px; }
}

@keyframes heading01-on {
	0% { top: -100px; }
	100% { top: 0px; }
}

@-webkit-keyframes heading02-loop {
	0% { top: -100px; }
	66% { top: -100px; }
	70% { top: 0;}
	92% { top: 0;}
	96% { top: 300px; }
	100% { top: 300px; }
}

@-moz-keyframes heading02-loop {
	0% { top: -100px; }
	66% { top: -100px; }
	70% { top: 0;}
	92% { top: 0;}
	96% { top: 300px; }
	100% { top: 270px; }
}

@keyframes heading02-loop {
	0% { top: -100px; }
	66% { top: -100px; }
	70% { top: 0;}
	92% { top: 0;}
	96% { top: 300px; }
	100% { top: 300px; }
}

@-webkit-keyframes heading03-loop {
	0% { top: -100px; }
	33% { top: -100px; }
	35% { top: 0; }
	65% { top: 0; }
	69% { top: 100px; }
	100% { top: 100px; }
}

@-moz-keyframes heading03-loop {
	0% { top: -100px; }
	33% { top: -100px; }
	35% { top: 0; }
	65% { top: 0; }
	69% { top: 300px; }
	100% { top: 300px; }
}

@keyframes heading03-loop {
	0% { top: -100px; }
	33% { top: -100px; }
	35% { top: 0; }
	65% { top: 0; }
	69% { top: 300px; }
	100% { top: 300px; }
}

/*-----------Paragraphs----------*/

@-webkit-keyframes txt01-loop {
	0% { left: 800px; }
	30% { left: 800px; }
	33% { left: 1000px; }
	91% { left: 1000px; }
	98% { left: 800px; }
	100% { left: 800px; }
}

@-moz-keyframes txt01-loop {
	0% { left: 800px; }
	30% { left: 800px; }
	33% { left: 1000px; }
	91% { left: 1000px; }
	98% { left: 800px; }
	100% { left: 800px; }
}

@keyframes txt01-loop {
	0% { left: 800px; }
	30% { left: 800px; }
	33% { left: 1000px; }
	91% { left: 1000px; }
	98% { left: 800px; }
	100% { left: 800px; }
}

@-webkit-keyframes txt01-on {
	0% { left: 1000px; }
	100% { left: 800px; }
}

@-moz-keyframes txt01-on {
	0% { left: 1000px; }
	100% { left: 800px; }
}

@keyframes txt01-on {
	0% { left: 1000px; }
	100% { left: 800px; }
}

@-webkit-keyframes txt02-loop {
	0% { left: 1000px; }
	66% { left: 1000px; }
	70% { left: 800px; }
	92% { left: 800px; }
	96% { left: 1000px; }
	100% { left: 1000px; }
}



@-moz-keyframes txt02-loop {
	0% { left: 1000px; }
	66% { left: 1000px; }
	70% { left: 800px; }
	92% { left: 800px; }
	96% { left: 1000px; }
	100% { left: 1000px; }
}

@keyframes txt02-loop {
	0% { left: 1000px; }
	66% { left: 1000px; }
	70% { left: 800px; }
	92% { left: 800px; }
	96% { left: 1000px; }
	100% { left: 1000px; }
}



@-webkit-keyframes txt03-loop {
	0% { left: 1000px; }
	33% { left: 1000px; }
	35% { left: 800px; }
	65% { left: 800px; }
	69% { left: 1000px; }
	100% { left: 1000px; }
}

@-moz-keyframes txt03-loop {
	0% { left: 1000px; }
	33% { left: 1000px; }
	35% { left: 800px; }
	65% { left: 800px; }
	69% { left: 1000px; }
	100% { left: 1000px; }
}

@keyframes txt03-loop {
	0% { left: 1000px; }
	33% { left: 1000px; }
	35% { left: 800px; }
	65% { left: 800px; }
	69% { left: 1000px; }
	100% { left: 1000px; }
}

/*---------------LOGO---------------*/

@keyframes logo-loop {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
}

@-moz-keyframes logo-loop {
	0% { -moz-transform: scale(1);}
	50% { -moz-transform: scale(0.9);}
	100% { -moz-transform: scale(1);}

}

@-webkit-keyframes logo-loop {
	0% { transform: scale(1); }
	50% { transform: scale(0.9); }
	100% { transform: scale(1); }
}